.hero
  height: 459px
  background:#ffffff url("../img/llogo.png") no-repeat
  background-size: contain
  background-position: right
  padding-top: 120px
  padding-bottom: 270px
  margin-top: 80px
  img 
    width: 100%
    height: auto
  &__title
    font-size: 30px
    margin-bottom: 40px
  &__subtitle
    display: block
    margin-bottom: 67px
    font-family: 'Proxima Nova Semibold', sans-serif
    font-size: 35px
    font-weight: 900
    color: #f08383
    text-shadow: 0 0 1px black
@media (max-width: 550px)
  .hero
    margin-top: 80px
    padding-top: 0px
    padding-bottom: 0px
    background-size: cover 25%
    background-position: center
    .hero__title
      padding: 0
      margin: 0
    .hero__subtitle
      padding: 0
    .hero__button
      margin-top: 190px
@media (max-width: 321px)
  .hero
    margin-top: 90px
    padding-top: 0px
    padding-bottom: 0px
    background-size: cover 25%
    background-position: center
    text-align: center
    .hero__title
      padding: 0
      margin: 0
    .hero__subtitle
      padding: 0
    .hero__button
      margin-top: 190px
